<html>
<link rel="stylesheet" href="/static/styles.css"/>
<head>
      <title>Baseball DataBase</title>
  </head>
<body>
    <h1>Admin View </h1>
    <table class="table">
        <tr class="table__header">
            {% for header in headings %}
            <th class="table__cell">{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in user_data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>