<html>
<link rel="stylesheet" href="/static/styles.css"/>
  <head>
      <title>Baseball DataBase</title>
  </head>
<body>
  <nav>
    <div>
      2B || !2B:
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% if current_user.username == "admin" %}
      <a href="{{ url_for('admin') }}">Admin View</a>
      {% endif %}
    </div>
  </nav>
<h1>Admin View </h1>
	{% for row in user_data %}
    <p>{{ row }}</p>
      {% endfor %}
</body>
</html>