<html>
<link rel="stylesheet" href="/static/styles.css"/>
  <head>
      <title>Baseball DataBase</title>
  </head>
<body>
  <nav>
    <div>
      Baseball:
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <div>
      {% if current_user.username == "admin" %}
      <a style="font-size:30px" href="{{ url_for('admin') }}">Admin View</a>
      {% endif %}
    </div>
  </nav>
<section>
<article>
<h1>Admin View </h1>
	{% for row in user_data %}
    <p>{{ row }}</p>
      {% endfor %}
      <a style="font-size:20px" href="https://www.youtube.com/watch?v=xvFZjo5PgG0">Export to csv</a>
</article>
</section>
</body>
</html>