<html>
<link rel="stylesheet" href="/static/styles.css"/>
  <head>
      <title>Baseball DataBase</title>
  </head>
  <body>
<section>
  <nav>
    <div>
      2B || !2B:
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% if current_user.username == "admin" %}
      <a href="{{ url_for('admin') }}">Admin View</a>
      {% endif %}
    </div>
    {% block content %}{% endblock %}
  </nav>
  <article>
    <h1>Creators</h1>
    <p>We created this, text.</p>
    <img src="https://miro.medium.com/max/1400/1*QRfisX2pAZtNn3hB10kNKQ.jpeg" alt="Babe Ruth" style="width:720px;height:480px;">
  </article>
</section>
  </body>
</html>