<html>
<link rel="stylesheet" href="/static/styles.css"/>
  <head>
      <title>Baseball DataBase</title>
  </head>
  <body>
  <nav>
    <div>
      2B || !2B:
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% if current_user.username == "admin" %}
      <a href="{{ url_for('admin') }}">Admin View</a>
      {% endif %}
    </div>
  </nav>
    <h1>Hi, {{current_user.username}}!, welcome to 2B || !2B Baseball DataBase!</h1>
<div class="center">
    <p>Select a team and a year to use the query, player is optional.</p>
    <p>Selecting a player currently does nothing, work on later.</p>
    <form class="dropdown" method="POST" action="">
    <select id="select1" name="select1" class="dropbtn"> <!-- note the name -->
        <option value="None" class="dropdown-content">Select Team</option>
        {% for data in team_data %}
        <option value="{{data}}" class="dropdown-content">{{data}}</option>
        {% endfor %}
    </select>
    <select name="select2" class="dropbtn"> <!-- note the name -->
        <option value="None" class="dropdown-content">Select Year</option>
        {% for data in year_data %}
        <option value="{{data}}" class="dropdown-content">{{data}}</option>
        {% endfor %}
    </select>
    <select name="select3" class="dropbtn"> <!-- note the name -->
        <option value="None" class="dropdown-content">Select Player</option>
        {% for data in player_data %}
        <option value="{{data}}" class="dropdown-content">{{data}}</option>
        {% endfor %}
    </select>
        <input type="submit" name="button1" value="Submit1">
        <input type="submit" name="button2" value="Submit2">
</form>
</div>
</body>
</html>